<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo 1</title>
</head>
<body>

    <%

        let tehtavat = ["Siivoa", "Käy kaupassa", "jne.."];

    %>

    <h1>Demo 1: EJS-templatet</h1>

    <h2>Tehtävälista</h2>

    <ul>

        <% tehtavat.forEach((tehtava) => { %>

            <li><%= tehtava %></li>
    
        <% }); %>

    </ul>

 </body>
</html>